<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Please fill with your tenant/configuration values -->
    <add key="AzureADAppId-NativeApplication" value="{App Guid}" />

    <add key="CSPServiceUsername" value="{username}@{tenant domain}.onmicrosoft.com" />
    <add key="CSPServicePassword" value="{password}" />
    <add key="CSPTenantName" value="{tenant domain}.onmicrosoft.com" />
    <add key="CSPTenantId" value="{App Guid}" />
    <add key="CSPAppId" value="{App Guid}" />
    <add key="CSPAppKey" value="{App Secret}" />

    <add key="AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="GraphResourceUrl" value="https://graph.windows.net" />
    <add key="CrestResourceUrl" value="https://api.cp.microsoft.com" />
  </appSettings>
</configuration>